@font-face {
    font-family: RubikC;
    src: url("/fonts/Rubik.ttf");
}

@font-face {
    font-family: RubikSlim;
    src: url("/fonts/RubikSlim.ttf");
}

@font-face {
    font-family: JetBrainsMono;
    src: url("/fonts/JetBrainsMono-Regular.ttf");
}

h1 {
    line-height: 1.4;
    color: #33ff10;
    font-size: 18.4px;
    font-family: RubikC;
    font-weight: 700;
    margin: 0;
}

body{
    background-color: #1a1a1a;
}

#wrapper {
    color: #33ff10;
    font-size: 19.2px;
    font-family: JetBrainsMono;
    padding: 22.4px 10%;
    max-width: 100%;
}

textarea {
    font-family: JetBrainsMono;
    width: 100%;
    height: 100px;
    background: #2c2c2c;
    border-color: #33ff10;
    border-radius: 10px;
    color:#33ff10;
    outline: none;
    resize: none;
}

input {
    padding: 5px;
    border-radius: 10px;
    border-color: #33ff10;
    font-size: 14.4px;
    font-family: RubikSlim;
    background: #2c2c2c;
    color: #33ff10;
}